
.pagination{
    align-items: center;
    display: flex; 
    height: 40px;
}

.item__title{
    display: inline;
} 

.item__title:hover{
    display: inline;
    cursor: pointer;
} 

.item__title--checked{
    display: inline;
    background: grey;
} 

.pagination_button{
    width: 50px;
    height: 40px;
}

.pagination_button:hover{
    width: 50px;
    height: 40px;
    cursor: pointer;
}

.pagination__button-prev .pagination_button{}

.pagination__button-next .pagination_button{}



