.selected {}

.selected_block {
  width: 100%;
  display: flex;
}

.selected_block__btncheck {
  flex: 1;
}
.selected_block__btnuncheck {
  flex: 1;
}
.selected_block__btndelete {
  flex: 1;
}

.selected_block__btncheck:hover {
  flex: 1;
  cursor: pointer;
}
.selected_block__btnuncheck:hover  {
  flex: 1;
  cursor: pointer;
}
.selected_block__btndelete:hover {
  flex: 1;
  cursor: pointer;
}
