
.list {
  flex-basis: 60%;
}

.item--completed {
  text-decoration: line-through;
}

.item--notcompleted {
  text-decoration: none;
}

.item--selected {	
  background: #808080;
}

.item--notselected {
  background: #FEFEFE;
}

li{
  box-sizing: content-box;
  border: gray solid 1px;
  padding: 5px;
  margin: 2px;
}

button {
  margin: 2px;
}

.buttons_block{
  float: right;
  align-items: rigth;
}

.item__input{
  width: 60%;
}
