.filters {
  flex-basis: 40%;
}

.filter-block {
  font-size: 1em;
  text-align: center;
  border: gray solid 1px;
  padding: 20px;
  margin: 4px;
}

.filter-block .filter1 {
  background: orangered;
}

.filter-block .filter2 {
  background: greenyellow;
}

.filter-block .filter3 {
  background: plum;
}

.filter-block .filter4 {
  background: paleturquoise;
}

.filter-block .filter5 {
  background: blueviolet;
}

