.filters {
  flex-basis: 40%;
}

.filters_block {
  font-size: 1em;
  text-align: center;
  border: gray solid 1px;
  padding: 20px;
  margin: 4px;
}

.filters_block:nth-child(1){
  background: orangered;
}

.filters_block:nth-child(2){
  background: greenyellow;
}

.filters_block:nth-child(3){
  background: plum;
}

.filters_block:nth-child(4){
  background: paleturquoise;
}

.filters_block:nth-child(5){
  background: blueviolet;
}

.filters_block:nth-child(1):hover {
  background: orangered;
  cursor: pointer;
}

.filters_block:nth-child(2):hover {
  background: greenyellow;
  cursor: pointer;
}

.filters_block:nth-child(3):hover {
  background: plum;
  cursor: pointer;
}

.filters_block:nth-child(4):hover {
  background: paleturquoise;
  cursor: pointer;
}

.filters_block:nth-child(5):hover {
  background: blueviolet;
  cursor: pointer;
}
