.filters {
  flex-basis: 40%;
}

.filters_block {
  font-size: 1em;
  text-align: center;
  border: gray solid 1px;
  padding: 20px;
  margin: 4px;
}

#filters_block__filter1 {
  background: orangered;
}

#filters_block__filter2 {
  background: greenyellow;
}

#filters_block__filter3 {
  background: plum;
}

#filters_block__filter4 {
  background: paleturquoise;
}

#filters_block__filter5 {
  background: blueviolet;
}

