.app {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.app_container_top{
  height: 80px;
  width: 50%;
  margin-left: 25%;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.app_container_bottom{
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.app_container_bottom__container{
  margin:10px;
  display: flex;
  height: 100%;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.pagination{
  margin-left: 35%;
  flex: 1;
}

.input{
  margin-top: 5px;
  height: 30px;
  display: flex;
  flex: 1;
}

.selected{
  display: flex;
  margin-top: 5px;
  flex: 1;
}

.filters{
  flex: 1;
}
  
.list{
  flex: 1;
}

.mySpinner{
  display: flex;
  justify-content: center;
  margin-top:300px;
}

